body {
    font-family:sans-serif;
    margin:0;
    padding:20px;
}

nav{
    display:flex;
    justify-content: space-between;
    padding:40px;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1 fr));
    gap:30px;
}
